<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>


<% @trainer.pokemons.each do |t| %>
      <strong><%= t.name %></strong><br>
      <strong><%= t.level %></strong><br>
      <%= image_tag("pokemon/#{t.ndex}.png", alt: "pokemon") %>
      <strong><%= t.health %></strong><br>
      <%= button_to "Damage!", damage_path(id: t), :class => "button medium", :method => :patch %>
      <br>
<% end %>
